body {
  font-family: sans-serif;
}

#app {
  text-align: center;
  border: 1px solid red;
  margin: 10px auto;
  padding: 10px;
}

#btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#btn button {
  width: 80px;
}
